h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(177, 134, 242);
}

body {
  width: 640px;
  margin: 0 auto;
  background-image: linear-gradient(to left, rgb(177, 134, 242), rgb(255, 142, 251) 30%,  rgb(255, 142, 251) 70%,rgb(177, 134, 242) 100%);
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
}
.displayed-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
  border: 3px solid rgb(177, 134, 242);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background-image: linear-gradient(to left, rgb(255, 142, 251), rgb(177, 134, 242) 30%,  rgb(177, 134, 242) 70%,rgb(255, 142, 251) 100%);;
  text-shadow: 1px 1px 1px rgb(255, 142, 251);
  font-size: larger;
  font-weight:500;
  margin: 2px 0;
  height: 40px;
  width: 640px;
  position: center;
  cursor: pointer;
  top: 2px;
  left: 2px;
}
button:hover {
  font-weight: 700;
}

.thumb-bar img {
  display: block;
  width: 19.25195%;
  height: 100px;
  margin: 6px 0px;
  float: left;
  cursor: pointer;
  border: 3.195px solid rgb(177, 134, 242);
}
.thumb-bar img:hover {
  border: 2.5px solid rgb(255, 142, 251);
}